manifest {
name = 'proATAC'
description = 'A repository of pipeline for single-cell ATAC data in Nextflow DSL2'
version = '0.0.1'
mainScript = 'proATAC.nf'
nextflowVersion = '!21.04.3'
}


params {
   global { 
             project_name = 'scATAC_pro'
             version = "0.0.1" // Pipeline version
             singleEnd = false
             outdir = './result'   
             }
   data {
             metadata = '/storage/zhangkaiLab/fanjiaqi/data/Kidney.10X.d2/metadata.sum.kid2.tsv'
             barcode_correction {
             max_mismatches = 1
             min_frac_bcs_to_find = 0.5
             whitelist {
               atac = 'dependencies/whitelists/737K-cratac-v1.txt.gz'
               atac_revcomp = 'dependencies/whitelists/737K-cratac-v1.REVCOMP.txt.gz'
               multiome = 'dependencies/whitelists/737K-arc-v1.txt.gz'
               multiome_revcomp = 'dependencies/whitelists/737K-arc-v1.REVCOMP.txt.gz'
               hydrop_2x384 = 'dependencies/whitelists/hydrop_384x384.REVCOMP.txt.gz'
               hydrop_3x96_short = 'dependencies/whitelists/20230120_hydrop-atac_ligation_all_revcomp.txt.gz'
               s3_atac_1 = 'dependencies/whitelists/s3_atac_1.txt.gz'
                       }
                                }           
         }
   tools {

             barcode_10x_scatac_fastqs {
             uncorrected_bc_tag = 'CR'
             barcode_quality_tag = 'CY'
             corrected_bc_tag = 'CB'
         }
       trim {
                  software='Trim_Galore'
                  paired = 'true'
                  cutadapt_dir = '/storage/zhangkaiLab/fanjiaqi/software/anaconda3/envs/cutadaptenv/bin/cutadapt'
                  fastqc_dir = '/storage/zhangkaiLab/fanjiaqi/software/FastQC/fastqc'
                  trim_galore_dir = '/storage/zhangkaiLab/fanjiaqi/software/TrimGalore-0.6.10/trim_galore'
}
       bwamaptools {
                  bwa_fasta='dependencies/genomes/hg38_bwamem2/genome.fa'
                  bwa_version = 'bwa-mem2'
                  bwa_dir = '/storage/zhangkaiLab/fanjiaqi/software/bwa-mem2-2.2.1_x64-linux/bwa-mem2'
                   }
         }
utils {
   publish {
       compressionLevel = 6
       annotateWithBatchVariableName = false
       mode = 'copy'
           }
      }
}

process {
        executor = 'SLURM'
        cpus = 2
        memory = '20 GB'
        withLabel:compute_resources__default {
        time = '1h' }
        withLabel:compute_resources__sctk__barcode_add {
        cpus = 4
        memory = '40 GB' }
        withLabel:compute_resources__sctk_barcode {
        cpus = 4
        memory = '40 GB'
        maxForks = 8 }
        withLabel:compute_resources__trimgalore__trim {
        cpus = 4
        memory = '40 GB'
        maxForks = 8 }
        withLabel:compute_resources__samtools__merge_bam {
        cpus = 4
        memory = '40 GB'
        maxForks = 8 }
        withLabel:compute_resources__bwa_mem {
        cpus = 4
        memory = '40 GB'
        maxForks = 8 }
}
timeline {
   enabled = true
   file = 'result/nextflow_reports/execution_timeline.html'
}

report {
   enabled = true
   file = 'result/nextflow_reports/execution_report.html'
}

trace {
   enabled = true
   file = 'result/nextflow_reports/execution_trace.txt'
}

dag {
   enabled = true
   file = 'result/nextflow_reports/pipeline_dag.svg'
}



